<app-logged-in-navbar></app-logged-in-navbar>
<div class="container">
  <div class="row">

      <form class="post-form" [formGroup]="createSectionForm">
        <div class="form-group">
          <div>Create Section</div>
          <hr />
          <input type="text" [formControlName]="'title'" class="form-control" style="margin-top: 5px"
            placeholder="Title">
          <textarea type="text" [formControlName]="'description'" style="width: 100%; margin-top: 5px"
            placeholder="Description"></textarea>
          <div>
            <div style="margin-top: 5px" class="float-right">
              <button (click)="discard()" class="btnDiscard">Discard</button>
              <button (click)="createSection()">Create</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
