
    <div class="form group">
        <label for="topic">Topic</label>
        <input ngModel name="topic" id="topic" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="content">content</label>
        <textarea id="content" cols="30" rows="10" class="form-control"> </textarea>
    </div>
    <mat-form-field>
        <mat-label>sumbit option</mat-label>
        <mat-select >
            <mat-option>sumbit as yourself</mat-option>
            <mat-option>submit anonymously</mat-option>
            </mat-select>
    </mat-form-field>

