.example-spacer {
    flex: 1 1 auto;
}

::ng-deep.mat-drawer-over{
  height: 0px;
  visibility: hidden;
  transition: 0.4s;
}

::ng-deep.mat-drawer-opened{
  visibility: visible;
  height: 100%;
}