<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div>
  <router-outlet></router-outlet>
  <mat-toolbar color="primary" class="example-toolbar">
    <h1 class="example-app-name">ClassView</h1>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <div fxLayout="row">
        <form style="padding-right: 10px;" class="form-inline md-form form-sm">
          <input style="height: 32px;" class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search"
          mdbInput>
        </form>
        <a routerLink="/loggedIn"mat-icon-button class="example-icon topBarIcon" aria-label="Example icon-button with share icon">
          <mat-icon>home</mat-icon>
        </a>
        <a routerLink="/profile"mat-icon-button class="example-icon topBarIcon" aria-label="Example icon-button with share icon">
          <mat-icon>account_box</mat-icon>
        </a>
        <a routerLink="/postMaker" mat-icon-button class="example-icon topBarIcon" aria-label="Example icon-button with share icon">
          <mat-icon>create</mat-icon>
        </a>
        <a [matMenuTriggerFor]="menu" mat-icon-button class="example-icon topBarIcon" aria-label="Example icon-button with share icon">
          <mat-icon matBadge="2" matBadgeColor="warn">notifications</mat-icon>
        </a>
        <mat-menu #menu="matMenu">
          <a mat-menu-item>Notification 1</a>
          <a mat-menu-item>Notification 2</a>
        </mat-menu>
      </div>
    </div>
    <div fxShow="true" fxHide.gt-sm="true">
      <a (click)="sidenav.toggle()" style="color: white;"><mat-icon>menu</mat-icon></a>
    </div>
  </mat-toolbar>
  <!-- Insert darkMode here -->
  <mat-sidenav #sidenav fxLayout="row" style="padding-left: 4px; width: 100%;">
    <div fxLayout="row">
      <form style="padding-right: 10px;" class="form-inline md-form form-sm">
        <input style="height: 32px; width: 100%;" class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search"
        mdbInput>
      </form>
      <a routerLink="/loggedIn"mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>home</mat-icon>
      </a>
      <a routerLink="/profile"mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>account_box</mat-icon>
      </a>
      <a routerLink="/postMaker" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>create</mat-icon>
      </a>
      <a [matMenuTriggerFor]="menu" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon matBadge="2" matBadgeColor="warn">notifications</mat-icon>
      </a>
      <mat-menu #menu="matMenu">
        <a mat-menu-item>Notification 1</a>
        <a mat-menu-item>Notification 2</a>
      </mat-menu>
      <a (click)="sidenav.toggle()" mat-icon-button>
        <mat-icon>arrow_upward</mat-icon>
      </a>
    </div>
  </mat-sidenav>
</div>