<router-outlet></router-outlet>
    <mat-toolbar color="primary" class="example-toolbar">
      <h1 class="example-app-name">ClassView</h1>
      <span class="example-spacer"></span>
      <button routerLink="/loggedIn"mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>home</mat-icon>
      </button>
      <button routerLink="/profile"mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>account_box</mat-icon>
      </button>
      <button [matMenuTriggerFor]="menu1" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>create</mat-icon>
      </button>
<mat-menu #menu1="matMenu">
  <button routerLink="/create-post" mat-menu-item>Create Post</button>
  <button mat-menu-item routerLink="/create-section">Create Section</button>
</mat-menu>
      <button [matMenuTriggerFor]="menu" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon matBadge="2" matBadgeColor="warn">notifications</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Notification 1</button>
        <button mat-menu-item>Notification 2</button>
      </mat-menu>
      <button (click)="logout()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
