/* Light and Dark Mode Stylesheets */

/* Left side. */
.leftCol.lightMode{
    background-color: whitesmoke;
}

.leftCol.darkMode{
    background-color: #222222;
}

/* Handles user information */
.editField.lightMode{
    border-color:  whitesmoke;
}

.editField.darkMode{
    border-color: #222222;
}

/* This handles the color of that little down arrow. */
.darkMode ::ng-deep.mat-form-field-infix::after{
    color: #798dfa ;
}

/* This handles the underlines. */
.darkMode ::ng-deep.mat-form-field-underline::before{
    background-color: #798dfa;
}

/* This handles user monitoring field. */
.userSettings.lightMode{
    background-color: whitesmoke;
}

.userSettings.darkMode{
    background-color: #222222;
}

/* Default Styls */

/* Centers the users profile picture and makes it a circle. */
#imgMod{
    border-radius: 50%;
    width: 45%;
    text-align: center;
}

/* This cetenters the file input area. */
#fileInput{
    margin-left: auto;
    margin-right: auto;
    width: 160px;
}

/* Just centers the left text. */
.leftCol{
    text-align: center;
}

/* Shrug Emoji */
.example-spacer {
    flex: 1 1 auto;
}

/* Handles the size of the right area and centers the content. */
.rightCol{
    width: 54%;
    padding: 4px;
    align-content: center;
}

/* Makes sure the container takes up the whole screen. */
.container{
    width: 100%;
}

/* Centers and arranges the left side of the screen including spacing. */
.leftCol{
    align-content: center;
    width: 36%;
    border-radius: 3%;
    padding-bottom: 4%;
    margin: 2%;
    margin-bottom: 3.5%;
}

/* Adds a border and information to the user information space. */
.editField{
    min-height: 30%;
    border-width: 4px;
    border-style: solid;
    border-radius: 3%;
}

/* Adds a border and information to the OTHER user information space. */
.userSettings{
    border-radius: 3%;
    min-width: fit-content;
    padding-bottom: 4%;
    padding-top: 2%;
    margin-bottom: 6%;
}

/* Screen Size Specific Styles */

@media screen and (min-width: 800px) {
    /* Recenters the delete button. */
    #deleteButton{
        margin-left: 46%;
    }
    /* Standardize the text size. */
    .standText{
        font-size: x-large;
        font-weight: 500;
    }
    /* Makes test smaller in the file input space. */
    #fileInput{
        font-size: small;
    }
}

@media screen and (max-width: 800px) and (min-width: 540px){
    /* Makes test smaller in the file input space. */
    #fileInput{
        font-size: small;
    }
    /* Recenters the delete button. */
    #deleteButton{
        margin-left: 7%;
    }
    /* Standardize the text size. */
    .standText{
        font-size: medium;
        font-weight: 500;
    }
    /* Makes the select drop down smaller. */
    ::ng-deep.mat-form-field-type-mat-native-select{
        width: 20vw;
        font-size: small;
    }
    /* Makes the text smaller in the other user field. */
    ::ng-deep.mat-cell{
        font-size: small !important;
    }
}

@media screen and (max-width: 540px) {
    /* These two adjust and makes the left and right column occupy their own space. */
    .leftCol{
        width: 100% !important;
    }
    .rightCol{
        width: 100%;
    }
    /* Makes the select drop down smaller. */
    ::ng-deep.mat-form-field-type-mat-native-select{
        width: 80px;
        font-size: x-small;
    }
    /* Makes the text smaller in the other user field. */
    ::ng-deep.mat-cell{
        font-size: x-small !important;
    }
    /* Makes test smaller in the file input space. */
    #fileInput{
        font-size: x-small;
    }
}