.example-spacer {
    flex: 1 1 auto;
}

.container{
    width: 100%;
}

#imgMod{
    border-radius: 50%;
    width: 45%;
    height: 45%;
}

.leftCol{
    align-content: center;
    text-align: center;
    width: 40%;
}

.rightCol{
    width: 54%;
    padding: 4px;
    align-content: center;
}

.editField{
    min-height: 30%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(116, 116, 116);
}

.darkMode{
    transition: 0.5s;
    background-color: #474747;
    color: #3150ff;
}

.lightMode{
    transition: 0.5s;
    background-color: white;
    color: black;
}
