<app-logged-in-navbar></app-logged-in-navbar>
    <div class="container lightMode" fxLayout="row wrap">
        <div class = "leftCol">
            <div fxLayout="column wrap">
                <div style="padding-top: 6%;">
                    <div>
                        <label class="hoverable" for="fileInput">
                        <img id="imgMod" [src]="url ? url : 'https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png'">
                        <div class="background"></div>
                        </label>
                        <br/>
                        <div fxLayout="column wrap">
                            <input style="margin-left: 35%;" id="fileInput" type='file' (change)="onSelectFile($event)">
                            <button style="margin-left: 46%; width: 52px; margin-top: 8px;" *ngIf="url" (click)="delete()" >delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div style="padding-top: 15%;">
                <mat-slide-toggle color="primary" (click)="changeColor()"><div id="LDtoggle">Light Mode</div></mat-slide-toggle>
            </div>
        </div>
        <div class = "rightCol" style="padding-top: 10px;">
            <h3 style="padding: 4px;">Profile Information:</h3>
            <div fxLayout="column wrap">
                <div style="padding: 20px;" class = "editField">
                  <table mat-table [dataSource]="studentRoster" class="mat-elevation-z8">

                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->

                    <!-- Position Column -->

                    <!-- Name Column -->
                    <ng-container matColumnDef="username">
                      <th mat-header-cell *matHeaderCellDef> Username </th>
                      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="email">
                      <th mat-header-cell *matHeaderCellDef style="margin-right: 20px"> Email Address </th>
                      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="created">
                      <th mat-header-cell *matHeaderCellDef> Created Date </th>
                      <td mat-cell *matCellDef="let element"> {{element.created}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                </div>
            </div>
        </div>
    </div>
