
<router-outlet></router-outlet>
<app-navbar></app-navbar>

<div style="background-image: url('../../../assets/classviewBackground.jpg'); height: 100%; margin-top: 0 !important; background-size: cover;">
<div style="height: 10%;"></div>
  <div class ="formContainer lightMode" fxLayout="column" fxLayoutAlign="center center" style="margin-left: auto; margin-right: auto; padding-left: 4%; padding-right: 4%; padding-bottom: 4%; padding-top: 2%; border-radius: 4%;">
    <h1>Register</h1>
    
    <mat-form-field appearance="outline" style="width: 90%;">
      <mat-label>Full Name</mat-label>
      <input matInput placeholder="John Smith" (change)="checkName('nameField')" id='nameField'>
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>


    <mat-form-field appearance="outline" style="width: 90%;">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="email" required (change)="checkEmail('emailField')" id="emailField">
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

  <mat-form-field appearance="outline" style="width: 90%;">
    <mat-label>Choose a Password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" (change)="checkPassword('passwordField')" id="passwordField" required>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <div style="font-size: smaller;" class="passLowLabel hidden" id="strengthLabel">Poor</div>
  <div class="passLowBar hidden" style="margin-bottom: 3%;" id="strengthBar"></div>

  <mat-form-field appearance="outline" style="width: 90%;">
    <mat-label>Confirm Password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" (change)="confirmPassword('passwordConfirmField')" id="passwordConfirmField" required>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
<button mat-flat-button color="primary" class="hidden" id="registerButton">Register</button>
<div style="font-size: x-small; margin-left: 4.2%; color:red;" id="requirementsText">
  * Password must include uppercase and lowercase letters as well as special characters and numbers.
</div>
</div>
</div>
