.formContainer{
    margin-top: 20px;
}
.mat-form-field{
    width: 30%;
}

.mat-flat-button{
    width: 30%;
}
.registerCard{
 
}

.hidden{
    visibility: hidden;
    margin: 0px !important;
    height: 0px;
}

.found{
    visibility: visible;
    height: auto;
}

.passLowBar{
    background-color: red;
    width: 25%;
    height: 4px;
    border-radius: 2px;
    transition: 0.15s;
}

.passMediumBar{
    background-color: orange;
    width: 45%;
    height: 4px;
    border-radius: 2px;
    transition: 0.15s;
}

.passFairBar{
    background-color: yellow;
    width: 65%;
    height: 4px;
    border-radius: 2px;
    transition: 0.15s;
}

.passGreatBar{
    background-color: rgb(0, 168, 0);
    width: 85%;
    height: 4px;
    border-radius: 2px;
    transition: 0.15s;
}

.passLowLabel{
    color: red;
    transition: 0.15s;
}

.passMediumLabel{
    color: orange;
    transition: 0.15s;
}

.passFairLabel{
    color: yellow;
    transition: 0.15s;
}

.passGreatLabel{
    color: rgb(0, 168, 0);
    transition: 0.15s;
}


@media screen and (min-width: 600px) {
    .formContainer{
        width: 500px;
    }
}

@media screen and (max-width: 600px) {
    .formContainer{
        width: 80%;
    }
}