.example-spacer {
    flex: 1 1 auto;
  }

.menuElement{
    background-color: transparent;
    font-size: medium;
    border-style: unset;
    text-decoration: none;
    color:white;
}
  
::ng-deep.mat-drawer-over{
  height: 0px;
}

::ng-deep.mat-drawer-opened{
  height: 100%;
}

::ng-deep.mat-drawer-inner-container{
  margin-left: auto;
}
