<div>
  <router-outlet></router-outlet>
  <mat-toolbar color="primary">
    <span>ClassView</span>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <button
      routerLink="/"
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      >
      <mat-icon>home</mat-icon>
      </button>
      <span class="example-spacer"></span>
      <button routerLink="/register" mat-flat-button style="margin-right: 10px">
        Register
      </button>
      <button routerLink="/login" mat-flat-button>
        Login
      </button>
    </div>
    <div fxShow="true" fxHide.gt-sm="true">
      <a (click)="sidenav.toggle()" style="color: white;" id="main-toggler"><mat-icon>menu</mat-icon></a>
    </div>
  </mat-toolbar>
  <mat-sidenav #sidenav fxLayout="row" style="transition: 0.4s;">
    <div fxLayout="row">
      <button routerLink="/" mat-flat-button>
        <mat-icon>home</mat-icon>
      </button>
      <button routerLink="/register" mat-flat-button style="margin-right: 10px">
        Register
      </button>
      <button routerLink="/login" mat-flat-button>
        Login
      </button>
      <a (click)="sidenav.toggle()" mat-flat-button  id="side-toggler">
        <mat-icon>arrow_upward</mat-icon>
      </a>
    </div>
  </mat-sidenav>
</div>
