<app-logged-in-navbar></app-logged-in-navbar>
<div class="container lightMode">
    <form (submit)="$event.preventDefault()">
        <div fxLayout="column wrap">
            <mat-form-field style="width: 80%; margin: auto; margin-top:2%; margin-bottom: 0% !important; font-size: x-large;">
                <mat-label class=" lightMode ">Post Title</mat-label>
                <input matInput #Username>
            </mat-form-field>
        </div>
      </form>
    <ejs-richtexteditor #toolsRTE id='alltoolRTE' [toolbarSettings]='tools' class="editor"></ ejs-richtexteditor>
    <div style="margin-left: 10%;">
        <div style="font-size: small;">
            <div style="padding: 4px; font-size: large;">Post Settings:</div>
            <mat-form-field appearance="fill">
            <mat-label>Post Publicly.</mat-label>
            <select matNativeControl required>
            <option value="publ">Post Publicly</option>
            <option value="anon">Post Anonymously</option>
            </select>
            </mat-form-field>
        </div>
        <button mat-raised-button style="background-color: #3f51b5; color:white; height: 50%; font-size: medium;">
            Submit
        </button>
    </div>
    <div style="height: 60px;"></div>
</div>