.darkMode{
    transition: 0.5s;
    background-color: #444444;
    color: #3150ff;
}

.lightMode{
    transition: 0.5s;
    background-color: white;
    color: black;
}

.editor{
    margin: auto;
    width: 80% !important;
}

.e-content{
    height: 25rem !important;
}
