<!-- <div class="post" *ngFor="let post of data">
  <div class="col-md-6 postTile">
    <mat-card>
      <mat-card-title>
        <a class="postname">{{ post.postName }}</a>
        <br>
      </mat-card-title>
      <mat-card-content>
        <p class="post-text" [innerHtml]="post.description"></p>
      </mat-card-content>
      <mat-card-actions>


        <mat-chip-list style="padding-bottom: 10px">
          <mat-chip color="accent" selected style="margin-right:10px;">{{ post.sectionName }}</mat-chip>
            <mat-chip color="primary" selected style="margin-right:10px;">{{
              post.duration
            }}</mat-chip>
            <mat-chip>Comments({{ post.commentCount }})</mat-chip>

        </mat-chip-list>
        <div fxFlex></div>
        <button mat-flat-button color="primary" (click)="goToPost(post.id)">Go to post</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div> -->

<div *ngFor="let post of data" class="post mb-3">
  <div class="w-100 text-center rounded-top pt-2 pb-2" style="background: #4051b6;">
      <h5 style="color:white;">{{post.postName}}</h5>
  </div>
  <div class="w-100" style="background: #F5F5F5;">
      <p class="pl-4 pr-4 pt-3 pb-3" style="font-size: 14px;" [innerHtml]="post.description"></p>
      <mat-chip-list>
        <mat-chip color="accent" selected style="margin-left:25px;">{{ post.sectionName }}</mat-chip>
        <mat-chip>Comments({{ post.commentCount }})</mat-chip>
        <mat-chip color="primary" selected (click)="goToPost(post.id)">Go to Post</mat-chip>
      </mat-chip-list>

  </div>
  <div class="w-100 text-center rounded-bottom pt-2 pb-2 text-right" style="background: #F0F0F0;">
      <p class="pr-2" style="font-size: 12px; color: lightslategrey; text-align: right;">Posted {{post.duration}} by {{post.userName}}</p>
  </div>
</div>
