<app-navbar>
</app-navbar>
<router-outlet></router-outlet>
<div style="height: fit-content; width: 100%;">
    <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>

    <div class="container d-flex justify-content-center mt-5">
        <div class="row">
            <div class="col-12">
              
                <h2 class="paddingtop d-flex justify-content-center text-center">- Our Mission -</h2>
                <p class="bio d-flex justify-content-center text-center">To make communication easier than ever.</p>
            </div>
            <div class="col-12 mt-5">
                <h2 class="paddingtop d-flex justify-content-center mb-5 text-center">Features</h2>
                <div class="card-deck">

                    <div class="card text-center shadow p-3 mb-5 bg-white rounded">
                        <div class="test d-flex justify-content-center mt-5">
                            <img class="card-img-top d-flex justify-content-center" src="../../../assets/notification.png" style="width: 60px; height: 60px;" alt="Notification">
                        </div>
                      <div class="card-body">
                        <h4 class="card-title">Messaging</h4>
                        <p class="card-text" style="line-height: 180%;">Communicate with classmates and post questions faster with through our dynamic message boards. Vote on answers and help your classmates by voting on your favorite replies.</p>
                      </div>
                    </div>

                    <div class="card text-center shadow p-3 mb-5 bg-white rounded">
                        <div class="test d-flex justify-content-center mt-5">
                            <img class="card-img-top d-flex justify-content-center" src="../../../assets/check.png" style="width: 60px; height: 60px;" alt="Check">
                        </div>
                      <div class="card-body">
                        <h4 class="card-title">Answers</h4>
                        <p class="card-text" style="line-height: 180%;">Find the answers you need through our search bar tool. Everything you need to collaborate with a team of peers can be found here on ClassView.</p>
                      </div>
                    </div>

                    <div class="card text-center shadow p-3 mb-5 bg-white rounded">
                        <div class="test d-flex justify-content-center mt-5">
                            <img class="card-img-top d-flex justify-content-center" src="../../../assets/lock.png" style="width: 60px; height: 60px;" alt="Lock">
                        </div>
                      <div class="card-body">
                        <h4 class="card-title">Security</h4>
                        <p class="card-text mb-4" style="line-height: 180%;">Use our services freely as class groups are divided to keep each of them organized and secure. Personal security and notification settings are also manageable through user settings.</p>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        
    </div>
    <!-- <ng-katex [equation]="eq"></ng-katex> -->

</div>
