  
<router-outlet></router-outlet>
<app-navbar></app-navbar>

<div style="background-image: url('../../../assets/loginBackground.png'); height: 100%; margin-top: 0 !important; background-size: cover;">
  <div style="height: 10%;"></div>
  <div
  class="formContainer lightMode"
  fxLayout="column"
  fxLayoutAlign="space-evenly center"
  style="padding: 2%; margin: auto; height: 60%; border-radius: 4%; width: 80%;"
  >
    <h1 style="margin: auto;">Login</h1>
    <mat-form-field appearance="outline" style="width: 90%;">
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          [formControl]="email"
          required
        />
        <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 90%;">
        <mat-label>Enter Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
    </mat-form-field>
    <button (click)="onLoginClick()" mat-flat-button color="primary">Login</button>
</div>
</div>