.formContainer{
    margin-top: 20px;
}
.mat-form-field{
    width: 30%;
}

.mat-flat-button{
    width: 30%;
}
.registerCard{
 
}

.darkMode{
    transition: 0.5s;
    background-color: #444444;
    color: #3150ff;
  }
  
  .lightMode{
    transition: 0.5s;
    background-color: white;
    color: black;
  }