.formContainer{
    margin-top: 20px;
}
.mat-form-field{
    width: 30%;
}

.mat-flat-button{
    width: 30%;
}
.registerCard{
 
}

@media screen and (min-width: 600px){
    .formContainer{
        width: 80% !important;
    }
}

@media screen and (max-width: 600px){
    .formContainer{
        width: 80% !important;
    }
}