

<div style="background-image: url('../../../assets/classviewBackground.jpg'); height: 100%; margin-top: 0 !important;">
    <div style="height: 10%;"></div>
      <div class ="formContainer lightMode" fxLayout="column" fxLayoutAlign="center center" style="margin-left: auto; margin-right: auto; width: 500px; padding-left: 4%; padding-right: 4%; padding-bottom: 4%; padding-top: 2%; border-radius: 4%;">
        <h1>Login</h1>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
    
        <mat-form-field appearance="outline" style="width: 90%;">
          <mat-label>Username</mat-label>
          <input matInput [formControlName]="'username'" class="form-control" placeholder="jsmith590">
          <mat-icon matSuffix>face</mat-icon>
        </mat-form-field>
    
        <mat-form-field appearance="outline" style="width: 90%;">
          <mat-label>Password</mat-label>
          <input type="password" [formControlName]="'password'" class="form-control" matInput placeholder="">
          <mat-icon matSuffix>vpn_key</mat-icon>
        </mat-form-field>
        <div class="login-failed" *ngIf='this.isError'>
            <p class="login-failed-text">
                Login Failed. Please check your credentials and try again.
            </p>   
        </div>    
        <button style="width:90%" color="primary" mat-flat-button>Login</button>
      </form>
    