<app-logged-in-navbar></app-logged-in-navbar>
<router-outlet></router-outlet>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-md-3 shadow text-center">
            <div class="wrapper mt-2 mb-2">

            </div>

            <app-post-sidebar [data] = "posts$"></app-post-sidebar>
        </div>
        <!-- Main Body -->
        <div class="col-md-9 mt-2">
            <app-post-tile [data] = "posts$"></app-post-tile>
        </div>
    </div>
</div>



