<router-outlet></router-outlet>
<app-logged-in-navbar></app-logged-in-navbar>
<!-- add darkModeHere -->
<div style="height: fit-content; width: 100%;">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>

    <div class="container d-flex justify-content-center mt-5">
        <div class="row">
            <div class="col-12">
                <h2 class="paddingtop d-flex justify-content-center mb-4">- Our Mission -</h2>
                <p class="bio d-flex justify-content-center">To make communication easier than ever.</p>
            </div>
            <div class="col-12 mt-5">
                <h2 class="paddingtop d-flex justify-content-center mb-5">Features</h2>
                <div class="card-deck">

                    <div class="card text-center shadow p-3 mb-5 bg-white rounded">
                        <div class="test d-flex justify-content-center mt-5">
                            <img class="card-img-top d-flex justify-content-center" src="../../../assets/notification.png" style="width: 60px; height: 60px;" alt="Notification">
                        </div>
                      <div class="card-body">
                        <h4 class="card-title">Messaging</h4>
                        <p class="card-text" style="line-height: 180%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus consectetur at purus et hendrerit. Ut varius ligula orci, id ultrices nulla tincidunt id. Proin sit amet convallis ipsum.</p>
                      </div>
                    </div>

                    <div class="card text-center shadow p-3 mb-5 bg-white rounded">
                        <div class="test d-flex justify-content-center mt-5">
                            <img class="card-img-top d-flex justify-content-center" src="../../../assets/check.png" style="width: 60px; height: 60px;" alt="Check">
                        </div>
                      <div class="card-body">
                        <h4 class="card-title">Answers</h4>
                        <p class="card-text" style="line-height: 180%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus consectetur at purus et hendrerit. Ut varius ligula orci, id ultrices nulla tincidunt id. Proin sit amet convallis ipsum.</p>
                      </div>
                    </div>

                    <div class="card text-center shadow p-3 mb-5 bg-white rounded">
                        <div class="test d-flex justify-content-center mt-5">
                            <img class="card-img-top d-flex justify-content-center" src="../../../assets/lock.png" style="width: 60px; height: 60px;" alt="Lock">
                        </div>
                      <div class="card-body">
                        <h4 class="card-title">Security</h4>
                        <p class="card-text mb-4" style="line-height: 180%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus consectetur at purus et hendrerit. Ut varius ligula orci, id ultrices nulla tincidunt id. Proin sit amet convallis ipsum.</p>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-12 mb-0 d-flex justify-content-center">
                <a class="mr-4" href="http://facebook.com"><img src="../../../assets/facebook.png" style="width: 40px; height: 40px;" /></a>
                <a class="mr-4" href="http://twitter.com"><img src="../../../assets/twitter.png" style="width: 40px; height: 40px;" /></a>
                <a href="http://instagram.com"><img src="../../../assets/instagram.png" style="width: 40px; height: 40px;" /></a>
            </div>
        </div>
        
    </div>
</div>
