<router-outlet></router-outlet>
<app-logged-in-navbar></app-logged-in-navbar>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- add darkModeHere -->
<div style="height: 100%; width: 100%;">
    <div class="container" style="padding-top:20px;">
      <div class="test" *ngFor="let post of posts$">
        <div class="row" style="margin-bottom: 30px;">
            <div class="col-sm-1 text-center"  style="margin:0;padding:0;">
                <table>
                    <tr>
                        <td id ='postVoteLabel_1'>{{post.voteCount}}</td>
                        <td>
                            <table>
                                <tr (click) = "upVote(1)"><i class="fa fa-angle-up"></i></tr>
                                <tr (click) = "downVote(1)"><i class="fa fa-angle-down"></i></tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <div (click) = "handleDropDown(1)">
                <div class="col-sm-1 text-center"  style="margin:0;padding:0;">
                    <img src="../../../assets/Home-Images/Form-Picture.png" alt="Form-Pic" width="100" height="100" style="margin:0;padding:0;">
                </div>
                <div class="col-sm-10" style="margin: 0; padding-left:5;">
                    <h4 style="margin:0; padding:0;">{{post.postName}}</h4>
                    <p style="margin:0; padding:0;">{{post.description}}</p>
                </div>
            </div>
            <div id="postDropDown_1" class="hide">
                <div id="response_1_1" class="response" (click)="selectAnswer(1,1)">
                    <div class="col-sm-1 text-center"  style="padding:0;">
                        <div style="height: 2em;"></div>
                        <i id="check_1_1"  class="fa" style="font-size: xx-large; height: 100%; width: 100%; margin:auto;"></i>
                    </div>
                    <div class="col-sm-11" style="padding-left:5;">
                        <h4 style="padding:0;">Response Title</h4>
                        <p style="padding:0;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac odio tempor orci dapibus ultrices in iaculis nunc sed. Vestibulum lorem sed risus ultricies tristique nulla aliquet. Sit amet venenatis urna cursus eget nunc. Nibh sit amet commodo nulla facilisi nullam vehicula ipsum. Eleifend quam adipiscing vitae proin sagittis nisl. Odio eu feugiat pretium nibh ipsum consequat nisl. Vel pretium lectus quam id. Ultricies mi eget mauris pharetra et ultrices neque ornare. Id diam maecenas ultricies mi. Quam adipiscing vitae proin sagittis nisl rhoncus mattis.</p>
                    </div>
                </div>
                <div id="response_1_2" class="response" (click)="selectAnswer(1,2)">
                    <div class="col-sm-1 text-center"  style="padding:0;">
                        <div style="height: 2em;"></div>
                        <i id="check_1_2" class="fa" style="font-size: xx-large; height: 100%; width: 100%; margin:auto;"></i>
                    </div>
                    <div class="col-sm-11" style="padding-left:5;">
                        <h4 style="padding:0;">Response Title</h4>
                        <p style="padding:0;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac odio tempor orci dapibus ultrices in iaculis nunc sed. Vestibulum lorem sed risus ultricies tristique nulla aliquet. Sit amet venenatis urna cursus eget nunc. Nibh sit amet commodo nulla facilisi nullam vehicula ipsum. Eleifend quam adipiscing vitae proin sagittis nisl. Odio eu feugiat pretium nibh ipsum consequat nisl. Vel pretium lectus quam id. Ultricies mi eget mauris pharetra et ultrices neque ornare. Id diam maecenas ultricies mi. Quam adipiscing vitae proin sagittis nisl rhoncus mattis.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id = "replyMaker_1" class="hide row">
            <ejs-richtexteditor #toolsRTE id='alltoolRTE' [toolbarSettings]='tools' class="editor"></ ejs-richtexteditor>
            <table>
                <tr>
                    <td style="width: 80%;"></td>
                    <td>
                        <div style="width: 30%; flex: 1; margin-top: 9%;">
                            <div style="font-size: small;">
                                <mat-form-field appearance="fill">
                                <mat-label>Post Settings.</mat-label>
                                <select matNativeControl required>
                                <option value="publ">Post Publicly</option>
                                <option value="anon">Post Anonymously</option>
                                </select>
                                </mat-form-field>
                            </div>
                            </div>
                    </td>
                    <td>
                        <button mat-raised-button style="background-color: #3f51b5; color:white; height: 60%; font-size: small; margin-left: 8px;">
                            Post Reply.
                        </button>
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>
</div>
