<router-outlet></router-outlet>
<app-logged-in-navbar></app-logged-in-navbar>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-md-3 shadow text-center">
            <div class="wrapper mt-2 mb-2">
                <div class="searchBar">
                    <input id="searchQueryInput" type="text" name="searchQueryInput" placeholder="Search" value="" />
                    <button id="searchQuerySubmit" type="submit" name="searchQuerySubmit">
                        <svg style="width:20px;height:20px" viewBox="0 0 24 24">
                            <path fill="#666666"
                                d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" />
                        </svg>
                    </button>
                </div>
            </div>

            <div>
                <div class="row h-100">
                    <div class="col-10">
                        <button type="button" class="btn btn-primary rounded-lg mb-1" id="post-link-btn">
                            <p>Welcome to CSCI 3308!</p>
                        </button>
                    </div>
                    <div class="col-2">
                        <img src="../../../assets/notification.png" alt="Info Icon" class="mt-2"
                            style="width:20px;height:20px;">
                    </div>
                    <div class="col-10">
                        <button type="button" class="btn btn-primary rounded-lg mb-1" id="post-link-btn">
                            <p>Exam 1 Curve</p>
                        </button>
                    </div>
                    <div class="col-2">
                        <img src="../../../assets/notification.png" alt="Info Icon" class="mt-2"
                            style="width:20px;height:20px;">
                    </div>
                    <div class="col-10">
                        <button type="button" class="btn btn-primary rounded-lg mb-1" id="post-link-btn">
                            <p>Homework Question (1-A)</p>
                        </button>
                    </div>
                    <div class="col-2">
                        <img src="../../../assets/info-icon.png" alt="Info Icon" class="mt-2"
                            style="width:20px;height:20px;">
                    </div>
                    <div class="col-10">
                        <button type="button" class="btn btn-primary rounded-lg mb-1" id="post-link-btn">
                            <p>Team Project</p>
                        </button>
                    </div>
                    <div class="col-2">

                    </div>
                    <div class="col-10">
                        <button type="button" class="btn btn-primary rounded-lg mb-1" id="post-link-btn">
                            <p>Quiz 1 Grades</p>
                        </button>
                    </div>
                    <div class="col-2">
                        <img src="../../../assets/info-icon.png" alt="Info Icon" class="mt-2"
                            style="width:20px;height:20px;">
                    </div>
                    <div class="col-10">
                        <button type="button" class="btn btn-primary rounded-lg mb-1" id="post-link-btn">
                            <p>Extension [closed]</p>
                        </button>
                    </div>
                    <div class="col-2">
                        <img src="../../../assets/info-icon.png" alt="Info Icon" class="mt-2"
                            style="width:20px;height:20px;">
                    </div>
                    <div class="col-10">
                        <button type="button" class="btn btn-primary rounded-lg mb-1" id="post-link-btn">
                            <p>Lab Connection Issue</p>
                        </button>
                    </div>
                    <div class="col-2">
                        <img src="../../../assets/info-icon.png" alt="Info Icon" class="mt-2"
                            style="width:20px;height:20px;">
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Body -->
        <div class="col-md-9 mt-2">
            <div class="post mb-3">
                <div class="w-100 text-center rounded-top pt-2 pb-2" style="background: #4051b6;">
                    <h5 style="color:white;">Welcome to CSCI 3308!</h5>
                </div>
                <div class="w-100" style="background: #F5F5F5;">
                    <p class="pl-4 pr-4 pt-3 pb-3" style="font-size: 14px;">Ut imperdiet augue enim. Pellentesque
                        malesuada, metus sit amet interdum vulputate, ligula nibh placerat tortor, ac bibendum sem odio
                        vitae arcu. Praesent ut libero id arcu venenatis gravida eget in massa. Fusce lobortis, nisl ac
                        scelerisque laoreet, est dolor viverra neque, non euismod lacus lectus non ex. Integer rutrum,
                        turpis id placerat finibus, justo nulla suscipit ante, rutrum molestie erat quam ut est. In hac
                        habitasse platea dictumst. Proin dignissim lectus justo, eu vulputate elit mattis eget. Sed
                        tincidunt felis a feugiat gravida. Etiam ut risus dui. Mauris laoreet magna quam, a fermentum
                        nulla laoreet in. Quisque a arcu nec magna porttitor fringilla a cursus magna. Maecenas laoreet
                        lorem quis elit interdum efficitur.</p>
                </div>
                <div class="w-100 text-center rounded-bottom pt-2 pb-2 text-right" style="background: #F0F0F0;">
                    <p class="pr-2" style="font-size: 12px; color: lightslategrey; text-align: right;">Updated 3 days
                        ago by Mike</p>
                </div>
            </div>

            <div class="post mb-3">
                <div class="w-100 text-left pl-4 rounded-top pt-2 pb-2" style="background:#5566c3;">
                    <h6 style="color:white;">the instructor's answer</h6>
                </div>
                <div class="row w-100 m-0 p-0 pt-2 pb-2" style="background: #F5F5F5;">
                    <div class="col-1 text-center my-auto">
                        <div id="vote_system">
                            <button id="votebtn" (click) = "vote(1,0)"><i style="color:#D3D3D3;"class="fas fa-caret-up fa-2x"></i></button>
                            <p class="mb-2 mt-2" id="vote_0">0</p>
                            <button id="votebtn" (click) = "vote(0,0)"><i style="color:#D3D3D3;"class="fas fa-caret-down fa-2x"></i></button>
                        </div>
                    </div>
                    <div class="col-11">
                        <p style="font-size: 14px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ligula purus, elementum et elementum eu, dapibus sit amet elit. Etiam felis mi, luctus convallis nunc egestas, posuere aliquet ante. Etiam hendrerit ultrices odio sit amet fermentum. Nam vestibulum erat ac ultrices gravida. Aliquam erat volutpat. Fusce vel velit condimentum, posuere elit sit amet, hendrerit turpis. Suspendisse potenti. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent gravida nec ex nec ornare. Nulla congue condimentum justo a tempor. Quisque dui nibh, sagittis eget ante vel, tempus pretium massa. In consectetur tortor at sapien convallis, fermentum aliquam sem tristique. Fusce ut velit tristique quam vestibulum sollicitudin at quis nisi. Cras ligula est, aliquet non lorem ac, volutpat gravida dolor.</p>
                    </div>
                </div>
                <div class="w-100 text-center rounded-bottom pt-2 pb-2 text-right" style="background: #F0F0F0;">
                    <p class="pr-2" style="font-size: 12px; color: lightslategrey; text-align: right;">Updated 2 hours
                        ago by Summer</p>
                </div>
            </div>

            <div class="post mb-3">
                <div class="w-100 text-left pl-4 rounded-top pt-2 pb-2" style="background:#5566c3;">
                    <h6 style="color:white;">students's answer</h6>
                </div>
                <div class="row w-100 m-0 p-0 pt-2 pb-2" style="background: #F5F5F5;">
                    <div class="col-1 text-center my-auto">
                        <div id="vote_system">
                            <button id="votebtn" (click) = "vote(1,1)"><i style="color:#D3D3D3;"class="fas fa-caret-up fa-2x"></i></button>
                            <p class="m-0 mb-2 mt-2" id="vote_1">0</p>
                            <button id="votebtn" (click) = "vote(0,1)"><i style="color:#D3D3D3;"class="fas fa-caret-down fa-2x"></i></button>
                        </div>
                    </div>
                    <div class="col-11">
                        <p style="font-size: 14px;">Nulla facilisi. Nulla consectetur lectus ipsum, facilisis commodo enim congue at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas vel leo sed tellus pharetra congue in quis velit. Mauris porta a purus ut finibus. Suspendisse imperdiet cursus iaculis. Phasellus et dui nec nunc dignissim tincidunt. Morbi ipsum sapien, aliquet sed arcu ut, accumsan sollicitudin purus. Aenean eleifend hendrerit egestas.</p>
                    </div>
                </div>
                <div class="w-100 text-center rounded-bottom pt-2 pb-2 text-right" style="background: #F0F0F0;">
                    <p class="pr-2" style="font-size: 12px; color: lightslategrey; text-align: right;">Updated 1 minute
                        ago by Jake</p>
                </div>
            </div>
        </div>
    </div>
</div>